<html>
<head>
<title>Corona</title>
<link rel="stylesheet" href="CSS/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="JS/angular.min.js"></script>
<script src="JS/script.js"></script>
</head>
<body ng-app="MyApp" ng-controller="MyCtrl">
<div class="container text-center">
<div class="jumbotron py-3">
<div class="img">
<img alt="" style="max-width:80px;" src="image.jpg"></div>
<h3 class="text-center">{{title}}</h3>
<p class="mt-4">
Measures for protecting workers from exposure to, and infection with, SARS-CoV-2, the virus that causes Coronavirus Disease 2019 (COVID-19), depend on the type of work being performed and exposure risk, including potential for interaction with people with suspected or confirmed COVID-19 and contamination of the work environment.Aropriate combinations of engineering and administrative controls, safe work practices, and personal protective equipment (PPE) to prevent worker exposures.</p>
<!--all data-->
<div class="row text-center">
<div class="col-md-4">
<div class="card bg-warning text-white">
<div class="card-body">
<h3>Confirmed Cases</h3>
<h3>{{all_data.confirmed.value}}</h3>
</div>
</div>
</div>
<div class="col-md-4">
<div class="card bg-success text-white">
<div class="card-body">
<h3>Recovered Cases</h3>
<h3>{{all_data.recovered.value}}</h3>
</div>
</div>
</div>
<div class="col-md-4">
<div class="card bg-danger text-white">
<div class="card-body">
<h3>Death Cases</h3>
<h3>{{all_data.deaths.value}}</h3>
</div>
</div>
</div>
</div>
<!--End all data--->

<input type="text" class="form-control mt-4" placeholder="Enter Country here" ng-model="c" ng-change="get_c_data()"/>
<!--Country data-->
<div class="container-fluid" ng-if="c_data">
<h1 class="text-center mt-4 text-uppercase">{{c}} status</h1>

<div class="row text-center mt-4" >
<div class="col-md-4">
<div class="card bg-warning text-white">
<div class="card-body">
<h3>Confirmed Cases</h3>
<h3>{{c_data.confirmed.value}}</h3>
</div>
</div>
</div>
<div class="col-md-4">
<div class="card bg-success text-white">
<div class="card-body">
<h3>Recovered Cases</h3>
<h3>{{c_data.recovered.value}}</h3>
</div>
</div>
</div>
<div class="col-md-4">
<div class="card bg-danger text-white">
<div class="card-body">
<h3>Death Cases</h3>
<h3>{{c_data.deaths.value}}</h3>
</div>
</div>
</div>
</div>
</div>
<!--End country data-->
</div>
</div>
</body>
</html>